<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- navbar -->
  <div class="w3-bar w3-black">
    <div class="w3-bar-item">
      <h1>Flask Dev Tesing</h1>
    </div>
  </div>
  <br>

  <!-- flash messaging -->
  <div class="container">
    {% for msg in get_flashed_messages() %}
    <div class="card">
      <div class="card-body bg-success text-white">
        {{ msg }}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- main content -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
