{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}

<style media="screen">
  img {
    width: 30px;
  }
</style>

<!--basic  user info -->
<div class="w3-container">
  <h3><b>{{ info['user_info']['name'] }}</b></h3>
  <div class="w3-cell-row">
    <div class="w3-cell"><b>overall rank</b> <i> {{info['user_info']['summary_overall_rank']}}</i></div>
    <div class="w3-cell"><b>overall points</b> <i> {{info['user_info']['summary_overall_points']}}</i></div>
    <div class="w3-cell"><b>game week rank</b> <i> {{info['user_info']['summary_event_rank']}}</i></div>
    <div class="w3-cell"><b>game week points</b> <i> {{info['user_info']['summary_event_points']}}</i></div>
  </div>
</div>

<!-- playing field -->
<div class="w3-container">

  <!-- stating VI -->
  <div class="w3-container w3-green w3-center">

    <!-- KEEPER -->
    <div class="w3-container">
      {% for my_players in info['my_picks'] %}
        {% for all_players in info['all_player_data'] %}
          {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 1 and my_players['position'] == 1 %}
          <div class="w3-btn w3-ripple">
            <!-- player img -->
            <div class="container">
            {% for jersey in jersey_list %}
              {% if all_players['team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey_goal']}}" alt="no img">
              {% endif %}
            {% endfor %}
            </div>
            {% if my_players['is_captain'] == True %}
            <p>
              {{ all_players['web_name'] }} <b class="w3-text-black">c</b>
            </p>
            {% elif my_players['is_vice_captain'] == True %}
            <p>
              {{ all_players['web_name'] }}<b class="w3-text-black">vc</b>
            </p>
            {% else %}
            <p>
              {{ all_players['web_name'] }}
            </p>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

    <!-- DEFENDERS -->
    <div class="w3-container">
      {% for my_players in info['my_picks'] %}
        {% for all_players in info['all_player_data'] %}
          {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 2 and my_players['position'] <= 6 %}
          <div class="w3-btn w3-ripple">
            <!-- player img -->
            <div class="container">
            {% for jersey in jersey_list %}
              {% if all_players['team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey']}}" alt="no img">
              {% endif %}
            {% endfor %}
            </div>
            {% if my_players['is_captain'] == True %}
            <p>
              {{ all_players['web_name'] }} <b class="w3-text-black">c</b>
            </p>
            {% elif my_players['is_vice_captain'] == True %}
            <p>
              {{ all_players['web_name'] }}<b class="w3-text-black">vc</b>
            </p>
            {% else %}
            <p>
              {{ all_players['web_name'] }}
            </p>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

    <!-- MIDFIELDERS -->
    <div class="w3-container">
      {% for my_players in info['my_picks'] %}
        {% for all_players in info['all_player_data'] %}
          {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 3 and my_players['position'] <= 10 %}
          <div class="w3-btn w3-ripple">
            <!-- player img -->
            <div class="container">
            {% for jersey in jersey_list %}
              {% if all_players['team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey']}}" alt="no img">
              {% endif %}
            {% endfor %}
            </div>
            {% if my_players['is_captain'] == True %}
            <p>
              {{ all_players['web_name'] }} <b class="w3-text-black">c</b>
            </p>
            {% elif my_players['is_vice_captain'] == True %}
            <p>
              {{ all_players['web_name'] }}<b class="w3-text-black">vc</b>
            </p>
            {% else %}
            <p>
              {{ all_players['web_name'] }}
            </p>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

    <!-- FORWARDS -->
    <div class="w3-container">
      {% for my_players in info['my_picks'] %}
        {% for all_players in info['all_player_data'] %}
          {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 4 and my_players['position'] <= 11 %}
          <div class="w3-btn w3-ripple">
            <!-- player img -->
            <div class="container">
            {% for jersey in jersey_list %}
              {% if all_players['team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey']}}" alt="no img">
              {% endif %}
            {% endfor %}
            </div>
            {% if my_players['is_captain'] == True %}
            <p>
              {{ all_players['web_name'] }} <b class="w3-text-black">c</b>
            </p>
            {% elif my_players['is_vice_captain'] == True %}
            <p>
              {{ all_players['web_name'] }}<b class="w3-text-black">vc</b>
            </p>
            {% else %}
            <p>
              {{ all_players['web_name'] }}
            </p>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

  </div>

  <!-- substitutes -->
  <div class="w3-center w3-light-grey">

    <!-- SUBS -->
    <div class="w3-container">
      {% for my_players in info['my_picks'] %}
        {% for all_players in info['all_player_data'] %}
          {% if my_players['element'] == all_players['id'] and my_players['position'] >= 12 %}
          <div class="w3-btn w3-ripple">
            <!-- player img -->
            <div class="container">
            {% for jersey in jersey_list %}
              {% if all_players['team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey']}}" alt="no img">
              {% endif %}
            {% endfor %}
            </div>
            {% if my_players['is_captain'] == True %}
            <p>
              {{ all_players['web_name'] }} <b class="w3-text-black">c</b>
            </p>
            {% elif my_players['is_vice_captain'] == True %}
            <p>
              {{ all_players['web_name'] }}<b class="w3-text-black">vc</b>
            </p>
            {% else %}
            <p>
              {{ all_players['web_name'] }}
            </p>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

  </div>

</div>

<!-- bottom navigation / buttons -->
<hr>
<div class="w3-container">

  <!-- analysis -->
  <div class="w3-btn w3-ripple w3-border w3-round w3-text-red" onclick="document.getElementById('id01').style.display='block'">
    <h5>analysis</h5>
  </div>
  <!-- analysis MODAL -->
  <div id="id01" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-text-blue">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-large w3-display-topright">&times;</span>
        <h2>Analysis</h2>
      </header><hr>

      <!-- analysis main content MODAL -->
      <div class="w3-container w3-tiny">

        <!-- playing field MODAL -->
        <div class="w3-container">

          <h4>Top Performing Players From The League</h4>
          <!-- top 15 players -->
          <div class="w3-green w3-center">

            <!-- KEEPER -->
            <div class="w3-container">
              {% for player in stars %}
                {% if player['element_type'] == 1 %}
                <div class="w3-dropdown-hover w3-green">
                  <div class="w3-btn w3-ripple">
                    {% for jersey in jersey_list %}
                    {% if player['team'] == jersey['id'] %}
                    <img src="{{jersey['logo']}}" alt="img">
                    <div class="">{{ player['web_name'] }}</div>
                    <div class="w3-border w3-round">{{ player['total_points'] }}</div>
                    <div class="w3-dropdown-content w3-bar-block w3-border" style="width:350px;">
                      <div class="w3-cell-row" style="background: {{jersey['colors']}}">
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>{{ player['first_name'] }} {{ player['second_name'] }}</b></div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>{{ jersey['name'] }}</b></div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <img src="{{jersey['logo']}}" alt="img">
                        </div>
                      </div>
                      <div class="w3-cell-row">
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>form:</b> {{ player['form'] }}</div>
                          <div class=""><b>pts/gm:</b> {{ player['points_per_game'] }}</div>
                          <div class=""><b>min:</b> {{ player['minutes'] }}</div>
                          <div class=""><b>clean sheets:</b> {{ player['clean_sheets'] }}</div>
                          <div class=""><b>own goals:</b> {{ player['own_goals'] }}</div>
                          <div class=""><b>saves:</b> {{ player['saves'] }}</div>
                          <div class=""><b>yellow cards:</b> {{ player['yellow_cards'] }}</div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>season value:</b> {{ player['value_season'] }}</div>
                          <div class=""><b>cost:</b> {{ player['now_cost'] }}</div>
                          <div class=""><b>total points:</b> {{ player['total_points'] }}</div>
                          <div class=""><b>goals ceonceded:</b> {{ player['goals_conceded'] }}</div>
                          <div class=""><b>penalties saved:</b> {{ player['penalties_saved'] }}</div>
                          <div class=""><b>bonus points:</b> {{ player['bps'] }}</div>
                          <div class=""><b>red cards:</b> {{ player['red_cards'] }}</div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

            <!-- DEFENDERS -->
            <div class="w3-container">
              {% for player in stars %}
                {% if player['element_type'] == 2 %}
                <div class="w3-dropdown-hover w3-green">
                  <div class="w3-btn w3-ripple">
                    {% for jersey in jersey_list %}
                    {% if player['team'] == jersey['id'] %}
                    <img src="{{jersey['logo']}}" alt="img">
                    <div class="">{{ player['web_name'] }}</div>
                    <div class="w3-border w3-round">{{ player['total_points'] }}</div>
                    <div class="w3-dropdown-content w3-bar-block w3-border" style="width:350px;">
                      <div class="w3-cell-row" style="background: {{jersey['colors']}}">
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>{{ player['first_name'] }} {{ player['second_name'] }}</b></div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>{{ jersey['name'] }}</b></div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <img src="{{jersey['logo']}}" alt="img">
                        </div>
                      </div>
                      <div class="w3-cell-row">
                        <div class="w3-cell w3-padding">
                          <div class=""><b>form:</b> {{ player['form'] }}</div>
                          <div class=""><b>pts/gm:</b> {{ player['points_per_game'] }}</div>
                          <div class=""><b>min:</b> {{ player['minutes'] }}</div>
                          <div class=""><b>clean sheets:</b> {{ player['clean_sheets'] }}</div>
                          <div class=""><b>own goals:</b> {{ player['own_goals'] }}</div>
                          <div class=""><b>saves:</b> {{ player['saves'] }}</div>
                          <div class=""><b>yellow cards:</b> {{ player['yellow_cards'] }}</div>
                        </div>
                        <div class="w3-cell w3-padding">
                          <div class=""><b>season value:</b> {{ player['value_season'] }}</div>
                          <div class=""><b>cost:</b> {{ player['now_cost'] }}</div>
                          <div class=""><b>total points:</b> {{ player['total_points'] }}</div>
                          <div class=""><b>goals ceonceded:</b> {{ player['goals_conceded'] }}</div>
                          <div class=""><b>penalties saved:</b> {{ player['penalties_saved'] }}</div>
                          <div class=""><b>bonus points:</b> {{ player['bps'] }}</div>
                          <div class=""><b>red cards:</b> {{ player['red_cards'] }}</div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

            <!-- MIDFIELDERS -->
            <div class="w3-container">
              {% for player in stars %}
                {% if player['element_type'] == 3 %}
                <div class="w3-dropdown-hover w3-green">
                  <div class="w3-btn w3-ripple">
                    {% for jersey in jersey_list %}
                    {% if player['team'] == jersey['id'] %}
                    <img src="{{jersey['logo']}}" alt="img">
                    <div class="">{{ player['web_name'] }}</div>
                    <div class="w3-border w3-round">{{ player['total_points'] }}</div>
                    <div class="w3-dropdown-content w3-bar-block w3-border" style="width:300px;">
                      <div class="w3-cell-row" style="background: {{jersey['colors']}}">
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>{{ player['first_name'] }} {{ player['second_name'] }}</b></div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>{{ jersey['name'] }}</b></div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <img src="{{jersey['logo']}}" alt="img">
                        </div>
                      </div>
                      <div class="w3-cell-row">
                        <div class="w3-cell w3-padding">
                          <div class=""><b>form:</b> {{ player['form'] }}</div>
                          <div class=""><b>pts/gm:</b> {{ player['points_per_game'] }}</div>
                          <div class=""><b>min:</b> {{ player['minutes'] }}</div>
                          <div class=""><b>clean sheets:</b> {{ player['clean_sheets'] }}</div>
                          <div class=""><b>own goals:</b> {{ player['own_goals'] }}</div>
                          <div class=""><b>saves:</b> {{ player['saves'] }}</div>
                          <div class=""><b>yellow cards:</b> {{ player['yellow_cards'] }}</div>
                        </div>
                        <div class="w3-cell w3-padding">
                          <div class=""><b>season value:</b> {{ player['value_season'] }}</div>
                          <div class=""><b>cost:</b> {{ player['now_cost'] }}</div>
                          <div class=""><b>total points:</b> {{ player['total_points'] }}</div>
                          <div class=""><b>goals ceonceded:</b> {{ player['goals_conceded'] }}</div>
                          <div class=""><b>penalties saved:</b> {{ player['penalties_saved'] }}</div>
                          <div class=""><b>bonus points:</b> {{ player['bps'] }}</div>
                          <div class=""><b>red cards:</b> {{ player['red_cards'] }}</div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

            <!-- FORWARDS -->
            <div class="w3-container">
              {% for player in stars %}
                {% if player['element_type'] == 4 %}
                <div class="w3-dropdown-hover w3-green">
                  <div class="w3-btn w3-ripple">
                    {% for jersey in jersey_list %}
                    {% if player['team'] == jersey['id'] %}
                    <img src="{{jersey['logo']}}" alt="img">
                    <div class="">{{ player['web_name'] }}</div>
                    <div class="w3-border w3-round">{{ player['total_points'] }}</div>
                    <div class="w3-dropdown-content w3-bar-block w3-border" style="width:300px;">
                      <div class="w3-cell-row" style="background: {{jersey['colors']}}">
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>{{ player['first_name'] }} {{ player['second_name'] }}</b></div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <div class=""><b>{{ jersey['name'] }}</b></div>
                        </div>
                        <div class="w3-cell w3-left w3-padding">
                          <img src="{{jersey['logo']}}" alt="img">
                        </div>
                      </div>
                      <div class="w3-cell-row">
                        <div class="w3-cell w3-padding">
                          <div class=""><b>form:</b> {{ player['form'] }}</div>
                          <div class=""><b>pts/gm:</b> {{ player['points_per_game'] }}</div>
                          <div class=""><b>min:</b> {{ player['minutes'] }}</div>
                          <div class=""><b>clean sheets:</b> {{ player['clean_sheets'] }}</div>
                          <div class=""><b>own goals:</b> {{ player['own_goals'] }}</div>
                          <div class=""><b>saves:</b> {{ player['saves'] }}</div>
                          <div class=""><b>yellow cards:</b> {{ player['yellow_cards'] }}</div>
                        </div>
                        <div class="w3-cell w3-padding">
                          <div class=""><b>season value:</b> {{ player['value_season'] }}</div>
                          <div class=""><b>cost:</b> {{ player['now_cost'] }}</div>
                          <div class=""><b>total points:</b> {{ player['total_points'] }}</div>
                          <div class=""><b>goals ceonceded:</b> {{ player['goals_conceded'] }}</div>
                          <div class=""><b>penalties saved:</b> {{ player['penalties_saved'] }}</div>
                          <div class=""><b>bonus points:</b> {{ player['bps'] }}</div>
                          <div class=""><b>red cards:</b> {{ player['red_cards'] }}</div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

          </div><br>

          <!-- my squad v top 15 comparisons -->
          <div class="">

            <h4>compared with {{ info['user_info']['name'] }}</h4>
            <div class="container">
              <!-- keepers -->
              <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo"><h3>Goalkeepers</h3></button>
              <div id="demo" class="collapse">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th>name</th>
                      <th>team</th>
                      <th>total points</th>
                      <th>pts/gm</th>
                      <th>season value</th>
                      <th>cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- users team info -->
                    {% for my_players in info['my_picks'] %}
                      {% for all_players in info['all_player_data'] %}
                        {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 1 and my_players['position'] == 1 %}
                        <tr>
                          <td class="text-warning">{{ info['user_info']['name'] }}</td>
                          <td>{{ all_players['web_name'] }}</td>
                          <th>
                            {% for jersey in jersey_list %}
                            {% if all_players['team'] == jersey['id'] %}
                            <img src="{{jersey['logo']}}" alt="img">
                            {% endif %}
                            {% endfor %}
                          </th>
                          <td>{{ all_players['total_points'] }}</td>
                          <td>{{ all_players['points_per_game'] }}</td>
                          <td>{{ all_players['value_season'] }}</td>
                          <td>{{ all_players['now_cost'] }}</td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                    <!-- top performers team info -->
                    {% for player in stars %}
                      {% if player['element_type'] == 1 %}
                      <tr>
                        <td>Top performers</td>
                        <td>{{ player['web_name'] }}</td>
                        <th>
                          {% for jersey in jersey_list %}
                          {% if player['team'] == jersey['id'] %}
                          <img src="{{jersey['logo']}}" alt="img">
                          {% endif %}
                          {% endfor %}
                        </th>
                        <td>{{ player['total_points'] }}</td>
                        <td>{{ player['points_per_game'] }}</td>
                        <td>{{ player['value_season'] }}</td>
                        <td>{{ player['now_cost'] }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <br>
              <!-- defenders -->
              <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo1"><h3>Defenders</h3></button>
              <div id="demo1" class="collapse">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th>name</th>
                      <th>team</th>
                      <th>total points</th>
                      <th>pts/gm</th>
                      <th>season value</th>
                      <th>cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- users team info -->
                    {% for my_players in info['my_picks'] %}
                      {% for all_players in info['all_player_data'] %}
                        {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 2 %}
                        <tr>
                          <td class="text-danger">{{ info['user_info']['name'] }}</td>
                          <td>{{ all_players['web_name'] }}</td>
                          <th>
                            {% for jersey in jersey_list %}
                            {% if all_players['team'] == jersey['id'] %}
                            <img src="{{jersey['logo']}}" alt="img">
                            {% endif %}
                            {% endfor %}
                          </th>
                          <td>{{ all_players['total_points'] }}</td>
                          <td>{{ all_players['points_per_game'] }}</td>
                          <td>{{ all_players['value_season'] }}</td>
                          <td>{{ all_players['now_cost'] }}</td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                    <!-- top performers team info -->
                    {% for player in stars %}
                      {% if player['element_type'] == 2 %}
                      <tr>
                        <td>Top performers</td>
                        <td>{{ player['web_name'] }}</td>
                        <th>
                          {% for jersey in jersey_list %}
                          {% if player['team'] == jersey['id'] %}
                          <img src="{{jersey['logo']}}" alt="img">
                          {% endif %}
                          {% endfor %}
                        </th>
                        <td>{{ player['total_points'] }}</td>
                        <td>{{ player['points_per_game'] }}</td>
                        <td>{{ player['value_season'] }}</td>
                        <td>{{ player['now_cost'] }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <br>
              <!-- midfielders -->
              <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo2"><h3>Midfielders</h3></button>
              <div id="demo2" class="collapse">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th>name</th>
                      <th>total points</th>
                      <th>pts/gm</th>
                      <th>season value</th>
                      <th>cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- users team info -->
                    {% for my_players in info['my_picks'] %}
                      {% for all_players in info['all_player_data'] %}
                        {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 3 %}
                        <tr>
                          <td class="text-success">{{ info['user_info']['name'] }}</td>
                          <td>{{ all_players['web_name'] }}</td>
                          <td>{{ all_players['total_points'] }}</td>
                          <td>{{ all_players['points_per_game'] }}</td>
                          <td>{{ all_players['value_season'] }}</td>
                          <td>{{ all_players['now_cost'] }}</td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                    <!-- top performers team info -->
                    {% for player in stars %}
                      {% if player['element_type'] == 3 %}
                      <tr>
                        <td>Top performers</td>
                        <td>{{ player['web_name'] }}</td>
                        <td>{{ player['total_points'] }}</td>
                        <td>{{ player['points_per_game'] }}</td>
                        <td>{{ player['value_season'] }}</td>
                        <td>{{ player['now_cost'] }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <br>
              <!-- forwards -->
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo3"><h3>Forwards</h3></button>
              <div id="demo3" class="collapse">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th>name</th>
                      <th>total points</th>
                      <th>pts/gm</th>
                      <th>season value</th>
                      <th>cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- users team info -->
                    {% for my_players in info['my_picks'] %}
                      {% for all_players in info['all_player_data'] %}
                        {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 4 %}
                        <tr>
                          <td class="text-primary">{{ info['user_info']['name'] }}</td>
                          <td>{{ all_players['web_name'] }}</td>
                          <td>{{ all_players['total_points'] }}</td>
                          <td>{{ all_players['points_per_game'] }}</td>
                          <td>{{ all_players['value_season'] }}</td>
                          <td>{{ all_players['now_cost'] }}</td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                    <!-- top performers team info -->
                    {% for player in stars %}
                      {% if player['element_type'] == 4 %}
                      <tr>
                        <td>Top performers</td>
                        <td>{{ player['web_name'] }}</td>
                        <td>{{ player['total_points'] }}</td>
                        <td>{{ player['points_per_game'] }}</td>
                        <td>{{ player['value_season'] }}</td>
                        <td>{{ player['now_cost'] }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div><br>

          <!-- transfer suggestions -->
          <div class="w3-tiny">
            <h4>transfer suggestions</h4>
            <div class="w3-cell-row">
              <div class="w3-cell">
                <p>goal</p>
                <p>defense</p>
                <p>midfield</p>
                <p>forwards</p>
                <p>subs</p>
              </div>
              <div class="w3-cell">
                <!-- keepers -->
                <p>--></p>
                <p>--></p>
                <p>--></p>
                <p>--></p>
                <p>--></p>
              </div>
              <div class="w3-cell">
                <!-- playing field MODAL -->
                <div class="">

                  <!-- stating VI -->
                  <div class="w3-green w3-center">

                    <!-- KEEPER -->
                    <div class="">
                      {% for my_players in info['my_picks'] %}
                        {% for all_players in info['all_player_data'] %}
                          {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 1 and my_players['position'] == 1 %}
                            <div class="w3-btn w3-ripple" >
                              {{ all_players['web_name'] }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>

                    <!-- DEFENDERS -->
                    <div class="">
                      {% for my_players in info['my_picks'] %}
                        {% for all_players in info['all_player_data'] %}
                          {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 2 and my_players['position'] <= 6 %}
                            <div class="w3-btn w3-ripple">
                              {{ all_players['web_name'] }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>

                    <!-- MIDFIELDERS -->
                    <div class="">
                      {% for my_players in info['my_picks'] %}
                        {% for all_players in info['all_player_data'] %}
                          {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 3 and my_players['position'] <= 10 %}
                            <div class="w3-btn w3-ripple">
                              {{ all_players['web_name'] }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>

                    <!-- FORWARDS -->
                    <div class="">
                      {% for my_players in info['my_picks'] %}
                        {% for all_players in info['all_player_data'] %}
                          {% if my_players['element'] == all_players['id'] and all_players['element_type'] == 4 and my_players['position'] <= 11 %}
                            <div class="w3-btn w3-ripple">
                              {{ all_players['web_name'] }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>

                  </div>

                  <!-- substitutes -->
                  <div class="w3-center w3-light-grey">

                    <!-- SUBS -->
                    <div class="">
                      {% for my_players in info['my_picks'] %}
                        {% for all_players in info['all_player_data'] %}
                          {% if my_players['element'] == all_players['id'] and my_players['position'] >= 12 %}
                            <div class="w3-btn w3-ripple">
                              {{ all_players['web_name'] }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div><hr>

      <footer class="w3-container w3-text-blue">
        <p>fpl club analysis</p>
      </footer>
    </div>
  </div>

  <!-- classic league table -->
  <div class="w3-btn w3-ripple w3-border w3-round w3-text-green" onclick="document.getElementById('id02').style.display='block'">
    <h5>table</h5>
  </div>
  <!-- classic league table MODAL -->
  <div id="id02" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-text-green">
          <span onclick="document.getElementById('id02').style.display='none'"
          class="w3-button w3-large w3-display-topright">&times;</span>
          <h2>{{ info['league_info']['league']['name'] }}</h2>
        </header><hr>
        <div class="w3-container">
          <h5>Teams ready for the new season</h5>
          {% for team in info['league_info']['new_entries']['results'] %}
          <div class="w3-cell-row">
            <p class="w3-cell">{{ team['entry_name'] }}  </p>
            <p class="w3-cell w3-tiny"><i>  {{ team['player_first_name'] }} {{ team['player_last_name'] }}</i></p>
          </div>
          {% endfor %}
        </div><hr>
        <footer class="w3-container w3-text-green">
          <p>{{ info['league_info']['league']['name'] }} since 2011</p>
        </footer>
      </div>
  </div>

  <!-- classic league awards -->
  <div class="w3-btn w3-ripple w3-border w3-round w3-text-blue w3-disabled">
    <h5>awards</h5>
  </div>

  <!-- classic league chat -->
  <div class="w3-btn w3-ripple w3-border w3-round w3-text-yellow w3-disabled">
    <h5>chat</h5>
  </div>

  <!-- classic league best 15 -->
  <div class="w3-btn w3-ripple w3-border w3-round w3-text-yellow w3-disabled">
    <h5>best 15</h5>
  </div>

</div>





{% endblock %}
