{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
<h3>Login</h3>
<div class="container">
  <div class="card">
    <div class="card-body">
      <form action="/logon" method="post">
        {{ form.hidden_tag() }}

        {% for field in form
          if field.widget.input_type != 'hidden' %}
          <div class="form-row">
            <div class="col">
              {{ field.label }}
            </div>
            <div class="col">
                {{ field }}
            </div>

            {% for error in field.errors %}
            <div class="">
              {{ error }}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
          <button class="btn btn-primary mb-2" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h5>If you already have a fantasy premier league account you will need your email and password you use to sign in for fantasy and your team id</h5>
  <a href="/team_id">
    <h5>click here to see how to find your team id</h5>
  </a>
  <h5>otherwise, use the dummy user login info below to check the site out</h5>
  <p>email: fplexampleman@gmail.com</p>
  <p>password: fplam-demo</p>
  <p>team-id: 1583773</p>
</div>
{% endblock %}
