{% extends 'base.html' %}
{% block title %}Team ID Hunt{% endblock %}
{% block content %}
<style media="screen">
  img {
    width: 600px;
    height: 300px;
  }
</style>
<h3>Finding your Fantasy Premier League ID is fabulously easy</h3>
<h5>Step 1</h5>
<div class="w3-cell-row w3-border w3-round">
  <div class="w3-cell w3-padding w3-cell-top">
    <div class="">Log into your <a href="https://fantasy.premierleague.com/">fantasy account</a></div>
  </div>
  <div class="w3-cell w3-right">
    <img src="\static\img\team_id\step1.png" alt="">
  </div>
</div>
<br>

<h5>Step 2</h5>
<div class="w3-cell-row w3-border w3-round">
  <div class="w3-cell w3-padding w3-cell-top">
    <div class="">Navigate to the "View Gameweek history" link on the right hand side of the screen and click!"</div>
    <div class="w3-tiny"><b>On the image it is highlighted in yellow for easy finding</b></div>
  </div>
  <div class="w3-cell w3-right">
    <img src="\static\img\team_id\step2.png" alt="">
  </div>
</div>

<h5>Step 3</h5>
<div class="w3-cell-row w3-border w3-round">
  <div class="w3-cell w3-padding w3-cell-top">
    <div class="">Find your Team Id in the address bar"</div>
    <div class="w3-tiny"><b>On the image it is highlighted in yellow for easy finding</b></div>
    <div class="">You now have what you need to log into <a href="/logon">fpl assistant manager</a>! See you soon."</div>
  </div>
  <div class="w3-cell w3-right">
    <img src="\static\img\team_id\step3.png" alt="">
  </div>
</div>
<br><br>
{% endblock %}
